body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.topBlueStrip{
    background-color: navy;
    display: flex;
    justify-content: space-between;
    margin-top: 100;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 20;
    padding-right: 20;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.topBlueStripR{
    display: flex;
    justify-content: space-between;

    
}

.topBlueStripL{
    display: flex;
    justify-content: space-between;
}

hr{
    margin-top: 0;
    height: 100%;
    width: 0;
    margin-left: 20;
    margin-right: 20;
}

.skyMenu{
    background-color:  rgb(0, 45, 69);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 40;
    padding-right: 30;
    padding-top: 20;
    padding-bottom: 10;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; 
 
}

.cloudMenu{
    display: flex;
    justify-content: space-between;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    background-color: #131a47;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
   
}

.dropdown:hover{
    transform: scale(1.1);
    transition: 0.5s;
}





.cloudMenuMenu{
    display: flex;
    justify-content: space-between;
    padding-left: 20;
    padding-top: 30;
    padding-bottom: 30;

}

.eprBtnDiv{
    padding-right: 40;
    padding-top: 20;
    padding-bottom: 20;
   
}

.eprBtn{
    text-align: center;
    padding-top: 10;
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 10;
    border: none;
    
    border-radius: 50px;
    cursor: pointer;
    width: 100;
    height: 40;
    color: white;
    background-color: rgb(12, 20, 67);

    
}
.eprBtn:hover{
    background-color: rgb(255, 149, 0);
    transition-duration: 0.7s;
    
}

.cloudMenuMenuHome:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.cloudMenuMenuAbout:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.cloudMenuMenuInfrastructure:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.cloudMenuMenuInformation:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.cloudMenuMenuStudent:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.parallelogram-btn {
    background-color: #af3912;
    color: white;
    padding: 12px 24px;
    border: none;
    transform: skew(-20deg);
    cursor: pointer;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.parallelogram-btn span {
    display: inline-block;
    transform: skew(20deg);
    
}

.sectionDyalSingh{
    display: flex;
    background-color: antiquewhite;
    padding-top: 140;
    padding-left: 60;
    padding-right: 160;
    padding-bottom: 140;
}

.sectionDyalSinghText{
    padding-top: 60;
    padding-left: 100;
    padding-right: 100;
}
.sectionDyalSinghTextHeading{
    color: rgb(21, 21, 97);
    font-size: 18;
    text-transform: uppercase;
}

.sectionDyalSinghPhoto{
    text-align: center;
    font-size: 16;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionAboutUs{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.sectionAboutUsPhoto{
    border: 2px solid black;
}

.sectionAboutUsText{
    padding-left: 5%;
    padding-top: 2%;
    

    span{
        font-size: 30;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(25, 18, 122);
        color: white;
        transform: skew(-20deg);
        cursor: pointer;
        display: inline-block;
        transform: skew(-20deg);
        width: 23%;
        padding-left: 30;
        text-transform: uppercase;

        div{
            transform: skew(20deg);
        }
        
    }

    div{
        font-size: 20;
        padding-top: 10;
        padding-bottom: 10;


    }
}

.sectionAboutUsTextHeading{
    color: chocolate;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20;
}

.sectionResult{
    background-color: wheat;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: auto;
}

.resultImg:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
    padding-left: 10%;
}

.sectionResultHeadingTop{
    font-size: 30;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(25, 18, 122);
        color: white;
        transform: skew(-20deg);
        cursor: pointer;
        display: inline-block;
        transform: skew(-20deg);
        width: auto;
        padding-left: 30;
        padding-right: 30;
        padding-top: 10;
        padding-bottom:10 ;
        text-transform: uppercase;

        span{
            transform: skew(20deg);
        }
}

.sectionResultHeading{
    text-align: center;
    padding-right: 30;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.resultNameMain{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 50;
}
.resultNameAdv{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 25;
}

#resultFlexAdv{
    padding-left: 25%;
}

.WhyDSPS{
 background-color: white;
 padding-left: 10%;
 padding-right: 10%;
 padding-top: 5%;
 padding-bottom: 5%;
 text-align: center;
 font-size: 18;

}

.WhyDSPSbox{
 display: flex;
 justify-content: space-evenly;
 
 text-align: center;


    
}
.WhyDSPSboxL{
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    padding: 2% 2% 2% 2%;
    border: 3px #184065 solid;
    background-color: wheat;
    margin-right: 100;
}



.WhyDSPSboxR{
    display: flex;
    justify-items: space-between;
    padding: 2% 2% 2% 2%;
    margin-left: 40;
}

.WhyDSPSboxInner:hover{

        border: 1px dotted red;
    
}

.last{
    background-color: white;
    padding-left: 40%;
    padding-top: 30;
    padding-bottom: 30;
}




body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.background {
  background-color: rgb(0, 45, 69);
  width: auto;
  height: 200px;
}

.background div {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
}

.himalaya {
  padding-top: 180px;
  padding-left: 10px;
}

.thimalaya {
  text-transform: capitalize;
  color: green;
  font-size: 45px;
  padding-top: 100px;
  padding-left: 10px;
}

.aravali {
  text-transform: capitalize;
  color: red;
  font-size: 45px;
  padding-top: 100px;
  padding-left: 10px;
}

.shivalik {
  text-transform: capitalize;
  color: rgb(255, 145, 0);
  font-size: 45px;
  padding-top: 100px;
  padding-left: 10px;
}

.nilgiri {
  text-transform: capitalize;
  color: blue;
  font-size: 45px;
  padding-top: 100px;
  padding-left: 10px;
}

#customers {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: grey;
}

.metext {display:flex;
  color: rgb(41,37,37);
  text-transform: uppercase;
  font-size: 50px;
  margin-top:15%;
}
.animation{display:flex;}
.me { color: rgb(150, 145, 147);
  text-transform: capitalize;
  font-size: 30px;
  padding-top:30px;
}
.require{color: rgb(90, 82, 82);
  text-transform: capitalize;
  font-size: 30px;
  padding-top:20px;
}
.image{width:50px;
  height:50px;
  padding-top:20px;
  padding-left:100px;
  display:flex;
}
.scroll-images img{width:1000px;
  height:500px;
  border-radius: 40px;
  margin-top:400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 margin-left:2%;
}
.scroll-images {
  display: flex;
  animation: scroll 40s linear infinite;
  width: max-content; /* enables scrolling effect */
}
.adm{
  border: none;
  border-radius: 50px;
}

.scrolimages:hover
{width:300px;
  height:400px;
  transition:  0.5s ease-in-out;
  transform: scale(1.2);
  cursor: pointer;
  margin-left:15%;
}
.scroll-container {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}
.campus{padding-top:100px;
}
.campusimg{width:90px;
   height:80px;
  padding-top:100px;
  padding-left:200px;
}
.us{color: rgb(150, 145, 147);
  text-transform: capitalize;
  font-size: 25px;
  padding-top:180px;}





body{
    margin: 0px;
    padding: 0px;
}
.back{
background-image: url("/sportsimage/backbanner1.jpg");
background-size: cover;
background-blend-mode: multiply;
padding-bottom: 50px;

}
.headmain{
    display: flex;
    padding-left: 10px;
    padding-right: 0px;
   transition-duration: 0.5s;
}
.headmain:hover{
    background-color: rgb(255, 255, 255);
    .title{
        color: black;
    }
    
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    padding: 20px;
    padding-right: 180px;
    color: rgb(255, 255, 255);
}
.ach{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    background-color: rgb(50, 69, 177);
    border: 0px;
}
.ach:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.infra:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.infra{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(39, 160, 69);
    border: 0px;
}
.frline{
    padding-top: 200px;
    padding-left: 50px;
    color: rgb(255, 255, 255);
}
.aut{
    font-size: 18px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
}
.exp{
    padding-top: 100px;
}
.ours{
    padding: 20px;
    font-size: 32px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.sportp{
    font-size: 16px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(141, 87, 48);
}
.v1{
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    text-align: center;
}
.v{
    height: 250px;
    width: 300px;
    border-radius: 10px; 
}
.v:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
}
.v2{
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    text-align: center;
}
.v3{
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    text-align: center;
}
.newach{
    padding-top: 80px;
    background-color: rgb(247, 191, 142);
}
.achie{
    padding-top: 30px;
    font-size: 16px;
    padding-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.a1{
    color: rgb(243, 242, 240);
    padding: 20px;
    padding-top :10px;
}
.info{
    text-align: center;
    font-size: 32;
    padding-bottom: 50px;
    padding-top: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.info1{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1px;
    padding-left: 150px;
    padding-top: 50px;

}
.info3{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.info2{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}



.sportsArea{
    padding-top: 200;
}

a{
    text-decoration: none;
    color: white;

}


.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #131a47;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
  
.floating-btn img {
    width: 30px;
    height: 30px;
}
  
.MainMenuLinks:hover{
    color: skyblue;
}

.contactUsArea{
    background-color: wheat;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
   


}

.contactUs{
    display: flex;
    justify-content: space-between;
}

.contactUsHeading{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #131a47;
    font-size: 20;
    
}

.contactUsL{
    padding-top: 50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #131a47;
    
}

.contactUsR{
    display:contents;
}

#contactName , #contactNo{
    width: 500;
    padding-left: 20;
    padding-top: 5;
    padding-bottom: 5;
   background-color:  #ddd;
   border: 1px dotted;
   margin-top: 5;
   margin-bottom: 5;
}

#contactMsg{
    width: 500;
    height: 200;
    padding-left: 20;
    background-color:  #ddd;
    border: 1px dotted;
    margin-top: 5;
    margin-bottom: 5;

}

#submitBtn{
    background-color: #131a47;
    color: white;
    border-radius:10%;
    border: none;
    width: 100;
    height: 40;
    text-transform: uppercase;

}

#submitBtn:hover{
    background-color: aqua;
    color: black;
}
